[submodule "Electronic/aero_battery_modelling"]
	path = Electronic/aero_battery_modelling
	url = git@github.com:MiirHo3eIN/aero_battery_modelling.git
[submodule "Electronic/aero_time_synchronized_paper"]
	path = Electronic/aero_time_synchronized_paper
	url = git@github.com:MiirHo3eIN/aero_time_synchronized_paper.git
[submodule "gateway/aero_gateway_commands"]
	path = gateway/aero_gateway_commands
	url = git@github.com:MiirHo3eIN/aero_gateway_commands.git
[submodule "electronics/aero_time_synchronized_paper"]
	path = electronics/aero_time_synchronized_paper
	url = git@github.com:MiirHo3eIN/aero_time_synchronized_paper.git
[submodule "electronics/aero_battery_modelling"]
	path = electronics/aero_battery_modelling
	url = git@github.com:MiirHo3eIN/aero_battery_modelling.git
[submodule "data_analysis/aero_statistic_features"]
	path = data_analysis/aero_statistic_features
	url = git@github.com:MiirHo3eIN/aero_statistic_features.git
[submodule "data_analysis/aero_autoencoder"]
	path = data_analysis/aero_autoencoder
	url = git@github.com:MiirHo3eIN/aero_autoencoder.git
[submodule "data_analysis/aero_mini_rocket"]
	path = data_analysis/aero_mini_rocket
	url = git@github.com:MiirHo3eIN/aero_mini_rocket.git
[submodule "data_analysis/aerosense_compression_pipeline"]
	path = data_analysis/aerosense_compression_pipeline
	url = git@github.com:MiirHo3eIN/aerosense_compression_pipeline.git
